.bg-custom {
  background-image: linear-gradient(15deg, #09a330 0%, #a0d080 100%);
}

th{
  color: white;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
  text-align: center;
  color: white;
}